<div class="d-flex flex-row justify-content-between">
  <form class="form-inline d-flex flex-row w-50">
    <input
      class="form-control search-course-input mr-sm-2 flex-grow-1"
      type="search"
      aria-label="Search"
      placeholder="Text to search"
      (keyup.enter)="activateSearch()"
      [(ngModel)]="inputSearchValue"
      [ngModelOptions]="{ standalone: true }"
      #searchInput
    />
  </form>
  <nav>
    <button
      type="button"
      [routerLink]="['./new']"
      class="btn btn-outline-primary"
    >
      <i class="fa fa-plus-square"></i> Add course
    </button>
  </nav>
</div>
