<learn-portal-search-course
  class="d-block my-3"
  (searchActivated)="onSearchActivated($event)"
></learn-portal-search-course>
<ul class="p-0 m-0">
  <li *ngFor="let courseItem of (courses | orderBy: 'creationDate')">
    <learn-portal-course-list-item
      [course]="courseItem"
      (itemDeleted)="onItemDeleted($event, confirmCourseDeletionModal)"
      (edit)="onItemEdit($event)"
    >
    </learn-portal-course-list-item>
  </li>
</ul>
<div
  *ngIf="!courses.length"
  class="alert alert-warning text-center"
  role="alert"
>
  No data. Feel free to add new course.
</div>
<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="numberOfCourses" (pageChange)="pageChanged($event)"
    [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>
</div>

<ng-template #confirmCourseDeletionModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Confirm course deletion</h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="lead">Do you really want to delete this course?</p>
  </div>
  <div class="modal-footer d-flex justify-content-around">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Yes')"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('No')"
    >
      No
    </button>
  </div>
</ng-template>
