<nav aria-label="breadcrumb" class="p-0" *ngIf="!isAuth()">
  <ul class="breadcrumb container mb-0 d-flex">
    <li
      [ngClass]="
        breadcrumb.route ? 'breadcrumb-item' : 'breadcrumb-item active'
      "
      *ngFor="let breadcrumb of breadcrumbsTrail"
    >
      <a *ngIf="breadcrumb.route" [routerLink]="breadcrumb.route">{{
        translationKeys[breadcrumb.label] | translate
      }}</a>
      <span *ngIf="!breadcrumb.route">{{ (translationKeys[breadcrumb.label] | translate) || breadcrumb.label }}</span>
    </li>
  </ul>
</nav>
