<form
  class="col-sm-6 offset-sm-3 login-form shadow-lg border border-secondary px-0 flex-grow-0 flex-shrink-1 align-self-center"
>
  <h2 class="w-100 border-dark border-bottom pb-1">Login</h2>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <label for="inputEmail3" class="col-form-label"
      >Email <span class="text-danger">*Required</span></label
    >
    <div class="w-100">
      <input
        type="email"
        class="form-control"
        id="inputEmail3"
        placeholder="Email"
        required="true"
      />
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <label for="inputPassword3" class="col-form-label"
      >Password <span class="text-danger">*Required</span></label
    >
    <div class="">
      <input
        type="password"
        class="form-control"
        id="inputPassword3"
        placeholder="Password"
        required="true"
      />
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <div class="">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
