<form
  ngNativeValidate
  class="col-sm-6 offset-sm-3 login-form shadow-lg border border-secondary px-0 flex-grow-0 flex-shrink-1 align-self-center"
  (submit)="login()"
  [formGroup]="loginForm"
>
  <h2 class="w-100 border-dark border-bottom pb-1">Login</h2>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <label for="inputEmail" class="col-form-label"
      >Username<span class="text-danger">*Required</span></label
    >
    <div class="w-100">
      <input
        type="text"
        class="form-control"
        id="inputEmail"
        placeholder="Username"
        required="true"
        formControlName="username"
      />
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <label for="inputPassword" class="col-form-label"
      >Password <span class="text-danger">*Required</span></label
    >
    <div class="">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
        required="true"
        autocomplete="password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <div class="">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  <div class="alert alert-danger m-1" role="alert" *ngIf="loginFailed$ | async">
    <b>Log in Error.</b> Your username or password is incorrect. Please try
    again.
  </div>
</form>
