<form
  ngNativeValidate
  class="col-sm-8 offset-sm-2 login-form shadow-lg border border-secondary px-0 flex-grow-0 flex-shrink-1 align-self-center"
  (submit)="login()"
  [formGroup]="loginForm"
>
  <h2 class="w-100 border-dark border-bottom pb-1">
    {{ 'LOGIN_FORM_HEADER' | translate }}
  </h2>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <label for="inputEmail" class="col-form-label"
      >{{ 'LOGIN_FORM_USERNAME_LABEL' | translate
      }}<span class="text-danger">{{
        'ERROR_MESSAGE_REQUIRED_FIELD' | translate
      }}</span></label
    >
    <div class="w-100">
      <input
        type="text"
        class="form-control"
        id="inputEmail"
        placeholder="Username"
        required="true"
        formControlName="username"
      />
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <label for="inputPassword" class="col-form-label"
      >{{ 'LOGIN_FORM_PASSWORD_LABEL' | translate }}
      <span class="text-danger">{{
        'ERROR_MESSAGE_REQUIRED_FIELD' | translate
      }}</span></label
    >
    <div class="">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
        required="true"
        autocomplete="password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2 form-group px-0">
    <div class="">
      <button type="submit" class="btn btn-primary">
        {{ 'LOGIN_FORM_LOGIN_BUTTON' | translate }}
      </button>
    </div>
  </div>
  <div class="alert alert-danger m-1" role="alert" *ngIf="loginFailed$ | async">
    <b>{{ 'LOGIN_FORM_ERROR_MESSAGE_HEADER' | translate }}</b>
    {{ 'LOGIN_FORM_ERROR_MESSAGE_BODY' | translate }}
  </div>
</form>
