<form
  class="d-flex flex-column mb-1"
  (submit)="saveCourse()"
  ngNativeValidate
  [formGroup]="courseEditForm"
>
  <div class="form-group">
    <label for="courseTitleFormControl"
      >Title <span class="text-danger">*Required</span></label
    >
    <input
      type="text"
      class="form-control"
      id="courseTitleFormControl"
      required
      formControlName="courseName"
    />
  </div>
  <div class="form-group">
    <label for="courseDescriptionFormControl"
      >Description <span class="text-danger">*Required</span></label
    >
    <textarea
      class="form-control"
      id="courseDescriptionFormControl"
      required="true"
      rows="4"
      formControlName="courseDescription"
    ></textarea>
  </div>
  <div class="form-group col-sm-3 px-0">
    <label for="courseCreationDateFormControl"
      >Date <span class="text-danger">*Required</span></label
    >
    <learn-portal-course-date-input
      inputId="courseDateFormControl"
      [required]="true"
      formControlName="courseDate"
    >
    </learn-portal-course-date-input>
    <!--<input
      id="courseCreationDateFormControl"
      [owlDateTime]="course_dt"
      [owlDateTimeTrigger]="course_dt"
      placeholder="Course date"
      [required]="true"
      formControlName="courseDate"
    />
    <owl-date-time
      #course_dt
      pickerMode="dialog"
      showSecondsTimer="true"
    ></owl-date-time>-->
  </div>
  <div class="form-group d-flex flex-column">
    <label for="courseDurationFormControl"
      >Duration <span class="text-danger">*Required</span></label
    >
    <learn-portal-course-duration-input
      inputId="courseDurationFormControl"
      [required]="true"
      formControlName="courseLength"
    ></learn-portal-course-duration-input>
  </div>
  <div>
    <label (click)="authorsSelector.focus()"
      >Authors <span class="text-danger">*Required</span></label
    >
    <ng-select
      #authorsSelector
      #authorsTooltip="ngbTooltip"
      ngbTooltip="You must select at least one author"
      placement="top"
      triggers="manual"
      [items]="fullListOfAuthors | async"
      [multiple]="true"
      [closeOnSelect]="false"
      [hideSelected]="true"
      bindLabel="name"
      placeholder="Start typing"
      (add)="onAuthorAdded($event)"
      (remove)="onAuthorRemoved($event)"
      (clear)="onAllAuthorsRemoved()"
      formControlName="authorsSelector"
    >
    </ng-select>
  </div>
  <div class="d-flex">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!!courseEditForm.invalid"
    >
      Save
    </button>
    <button
      type="button"
      class="ml-3 btn btn-dark"
      (click)="cancelCourseEditing()"
    >
      Cancel
    </button>
  </div>
</form>
